<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305546857809-2tgjlnovgl18vcs6b723bppejpbvqlpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305546857809-2tgjlnovgl18vcs6b723bppejpbvqlpi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305546857809-a7prablu6r8ucqgpdqf4fp7e6vvevtcf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA9mUYoYDL5whtFd4zddNihC9RpyATG-CQ</string>
	<key>GCM_SENDER_ID</key>
	<string>305546857809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanitcode.Daily-Lingua</string>
	<key>PROJECT_ID</key>
	<string>bardai-e2364</string>
	<key>STORAGE_BUCKET</key>
	<string>bardai-e2364.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305546857809:ios:110a39d47f9335e1c19770</string>
</dict>
</plist>